# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# IDEA
*.iml
*.ipr
.idea/
cmake-build-*/

# Local build directory
build/
